version: 2.0
workflows:
  version: 2
  test:
    jobs:
      - node6
      - node8
      - node10
      - node11
      - lint
      - commit_lint
      - publish_npm:
          requires:
            - node6
            - node8
            - node10
            - node11
            - lint
            - commit_lint
          filters:
            branches:
              only: master

unit_tests: &unit_tests
  steps:
    - checkout
    - run: npm install
    - run: npm test

jobs:
  node6:
    docker:
      - image: node:6
        user: node
    <<: *unit_tests
  node8:
    docker:
      - image: node:8
        user: node
    <<: *unit_tests
  node10:
    docker:
      - image: node:10
        user: node
    <<: *unit_tests
  node11:
    docker:
      - image: node:11
        user: node
    <<: *unit_tests
  lint:
    docker:
      - image: node:11
    steps:
      - checkout
      - run: npm install
      - run: npm run lint
  commit_lint:
    docker:
      - image: node:11
    steps:
      - checkout
      - run: npm install
      - run: npm run commitlint
  coverage:
    docker:
      - image: node:11
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: npm run coverage
  publish_npm:
    docker:
      - image: node:11
    steps:
      - checkout
      - run: npm install
      - run: npm run semantic-release
